---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Practice from '../components/Practice.astro';
import Video from '../components/Video.astro';
import Schedule from '../components/Schedule.astro';
import Teacher from '../components/Teacher.astro';
import Rates from '../components/Rates.astro';
import Consent from '../components/Consent.astro';
import Visit from '../components/Visit.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <Practice />
    <Video />
    <Schedule />
    <Teacher />
    <Rates />
    <Consent />
    <Visit />
  </main>
  <Footer />
</Base>
